.modal-container {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 40px;
    border: 10px solid #FB5;
    position: relative;
    min-width: 300px;
}

.fechar {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    background: #E54;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
}

.fechar:hover {
    background: rgb(251, 96, 79);
}

.modal label {
    font-family: 'IBM Plex Mono', monospace;
    display: block;
    font-weight: bold;
    margin: 1rem 0 .5rem 0;
}

.modal input {
    width: 100%;
    padding: .7rem .5rem;
    box-sizing: border-box;
    border: 1px solid rgb(223, 223, 223);
}

.modal input::placeholder {
    font-family: 'IBM Plex Mono', monospace;
}

.modal button[type="submit"] {
    display: block;
    background: #E54;
    border: none;
    border-radius: 4px;
    padding: .7rem 2rem;
    font-size: 1rem;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 1rem;
    cursor: pointer;
}

.modal button[type="submit"]:hover {
    background: rgb(251, 96, 79);
}

.modal-container.modal-ativa {
    display: flex;
}

@keyframe modal {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}

.modal-ativa .modal {
    animation: modal .3s forwards;
}